body {
    width: 600px;
    margin: auto;
    background-color: #22324d;
    touch-action: manipulation; /*prevents zoom on double tap*/
    font-family: "VT323", "Lucida Console", "monospace";
    font-size: 12pt;
    border: 2px solid red;
}

/*-----------------------------------------------*/
/*         --- SVG FRAME BUTTONS ---             */
/*-----------------------------------------------*/
#mfdFrame {
    fill:#1a1a1a;;
    /* #131339;*/
}

#mfdScreen {
    /*position: relative;*/
    width: 500px;
    height: 500px;
    fill: #131339;
    stroke: #22324d;
    stroke-width: 3px;
    /* #131339; */

   
}

svg text{
    text-anchor: middle;
    fill: greenyellow;
    font-size: 18px;
}

g.btnLabel rect{
    stroke-width: 1;
    stroke: #09091b;
    fill: none;
}

/* highlighed text, background */
g.btnLabel-active text{
    fill:black;
}

g.btnLabel-active rect{
    fill: greenYellow;
}

/* disabled button */
g.btnLabel-disabled text{
    fill: rgba(173, 255, 74, .3);
}

g.btnLabel-disabled rect{
    fill:none;
}

/* input fields */
/* g.fn text {
    fill: greenyellow;
    width: 60px;
} */

/* g.fn rect {
    fill: #131339;
}

g.activeFn text {
    fill: #131339;
}

g.activeFn rect{
    fill: yellowgreen;
} */


p.activeFn{
    color: black;
    background-color: greenYellow;
}

p.inactiveFn{
    color: yellowgreen;
    background-color: blue;
}


/*-----------------------------------------------*/
/*            --- DISPLAY PANEL --- */
/*-----------------------------------------------*/
#displayContainer {
    display: grid;
    width: 350px;
    grid-template-columns: 160px 160px;
    /*grid-template-rows: 50px 50px 50px 50px 50px;*/
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    justify-content: center;
    background-color: #484f5b;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

.paramDisp {
    color: white;
    overflow: hidden;
    padding: 5px;
    border: 1px solid black;
    background-color: #858c98;
    border-radius: 3px;
    font-size: 12px;
}

.paramDisp_hidden {
    display: none;
}

.paramDisp_inactive {
    color: #ddd;
    overflow: hidden;
    padding: 5px;
    border: 1px solid black;
    background-color: #858c98;
    border-radius: 3px;
    font-size: 12px;
}

/* LCD screen */
.LCDscreen, input {
    background-color: darkslategrey;
    color: greenyellow;
    font-family: "VT323";
    font-size: 12pt;
    border-radius: 2px;
    text-align: right;
    height: 18px;
}

input {
    height: 16px;
    width: auto;
    border: none;
}

input.activeFn {
    color: darkslategrey;
    background-color: greenyellow;
}

input.fn{
    color: greenyellow;
    background-color: darkslategrey;
}


/* inactive LCD screen */
div.paramDisp_inactive .LCDscreen, div.paramDisp_inactive input {
    background-color: darkslategrey;
    text-align: right;
    color: black;
    font-family: "VT323";
    font-size: 12pt;
    border-radius: 2px;
}



/*-----------------------------------------------*/
/*            --- KEYBOARD PANEL ---             */
/*-----------------------------------------------*/
button {
    height: 1.2cm;
    width: 1.2cm;
    margin: 1px;
}

/*-----------------------------------------------*/
/*                 --- SVG ---                   */
/*-----------------------------------------------*/
svg * {
   /* background-color: #131339;*/
    vector-effect: non-scaling-stroke;
}

.svgMap{
    position: relative;
    top: -525px;
    left: 100px;
}


/*from/for svgSolarSystem*/
.orbit {
    fill: none;
    stroke-opacity: .5;
}

.planet {
    stroke: black;
}

.planet_dim{
    stroke: none;
    fill-opacity: .3;
}